---
layout: page
title: Bằng Nguyễn
subtitle: The only source of knowledge is experience.
meta-title: "Hi, I'm Bang"
bigimg:
- "/img/Affiliate/banner.png"
---
<div class="spacer"></div>
<!-- Projects have released -->
<div class="spacer"></div>
<div class="row text-center">
  <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="/Topic/lap-trinh-vi-dieu-khien " rel="noopener" class="project-link"
        title="Programming MCU">
        <span class="fa-stack fa-2x">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Programming MCU</h4>
      </a>
      <!-- <hr class="seperator"> -->
      <p class="text-muted">Programming MCU, STM32, Arduino32bit, ESP32, ESP8266...</p>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="/Topic/dien-dien-tu" rel="noopener" class="project-link"
        title="Electronic components">
        <span class="fa-stack fa-2x">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Electronic Components</h4>
      </a>
      <!-- <hr class="seperator"> -->
      <p class="text-muted">Share knowledge about electronics, electronic components</p>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
    <div class="project-card">
      <a target="_blank" href="/Topic/ngoai-luong" rel="noopener" class="project-link"
        title="Ngoài luồng">
        <span class="fa-stack fa-2x">
          <i class="fa fa-square fa-stack-2x stack-color"></i>
          <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Social sciences</h4>
      </a>
      <!-- <hr class="seperator"> -->
      <p class="text-muted">Sharing knowledge of social sciences
      </p>
    </div>
  </div>
</div>

<hr class="small">
<!-- Recent Posts -->
<h1 class="text-center">Recent Posts</h1>
<!-- Chèn khoảng trống -->
<div class="spacer"></div>
<!-- site body (untouched)-->
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <!-- Tiêu đề bài đăng -->
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">{{ post.title }}</h2>

      {% if post.subtitle %}
      <div class="post-subtitle">
        {{ post.subtitle }}
      </div>
      {% endif %}
    </a>
    <!-- Ngày tháng bài đăng -->
    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
    <!-- Tóm tắt bài đăng -->
    <div class="post-entry-container">
      <!-- Kiểm tra bài đăng có kèm hình nhỏ hay không -->
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}

      <!-- Tóm tắt ngắn nội dung -->
      <div class="post-entry">
        <p style="text-align: justify;">
          {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
          {% assign excerpt_word_count = post.excerpt | number_of_words %}
          {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
        </p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
      {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 0 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}