---
layout: page
title: Save the date
meta-title: Bằng 💞 Hiền
subtitle: "Love me a little, love me long."
bigimg:
- "/img/Wedding/wedding-background.jpg" : "Save the date"
---

<!-- Data typed chạy chữ.  -->
<!-- <div class="typed_caption">
  <div class="col-sm-12">
    <div class="text-center">
      <h2><span id="word"></span></h2>
    </div>
  </div>
</div> -->
<!-- JS typed chạy chữ.  -->
<!-- <script src="/js/Typed.js"></script>  -->
<div class="audio_mp3">
  <p style="text-align: center;">
    "My whole world changed from the moment I met you<br />
    And it would never be the same<br />
    Felt like I knew that I'd always love you<br />
    From the moment I heard your name"<br />
  </p>
  <p style="text-align: right;"></p>
    I Do - 911<br />
  </p>
  <audio controls autoplay loop>
    <source src="/img/I_Do_911.mp3" type="audio/mpeg">
  </audio>
</div>

<br>
<br>

<!-- Recent Posts -->
<div class="thiep_moi">
  <h2 style="text-align: center;">Lễ Vu Quy</h2>
  <p style="text-align: center;">
    Được tổ chức vào lúc 18h00 Thứ 6<br />
    10/02/2023<br />
    Nhằm ngày 20 tháng 1 năm Quý Mão<br />
    Tại Thánh Đường Giáo Xứ Châu Pha<br />
    <br />
    Sự hiện diện của quý khách là niềm vinh hạnh của gia đình chúng tôi<br />
  </p>
  
  <table class="thiep_moi_thanh_hon" style="border-collapse: collapse; width: 100%;" border="1">
    <tbody>
    <tr>
    <td style="width: 45%; text-align: center;">
    <p>Nhà gái</p>
    <p>Lưu Hữu Minh</p>
    <p>Lê Thị Minh Phụng</p>
    </td>
    <td style="width: 10%; text-align: center;font-size: 60px;">💕</td>
    <td style="width: 45%; text-align: center;">
    <p>Nhà trai</p>
    <p>Nguyễn Văn Bình</p>
    <p>Cao Thị Hồng</p>
    </td>
    </tr>
    </tbody>
  </table>
</div>

<br>
<br>

<!-- Recent Posts -->
<div class="thiep_moi">
  <h2 style="text-align: center;">Lễ Tân Hôn</h2>
  <p style="text-align: center;">
    Được tổ chức vào lúc 09h00 Chủ Nhật<br />
    12/02/2023<br />
    Nhằm ngày 22 tháng 1 năm Quý Mão<br />
    Tại nhà trai - Tư gia Long Toàn, Bà Rịa<br />
    <br />
    Sự hiện diện của quý khách là niềm vinh hạnh của gia đình chúng tôi<br />
  </p>

  <table class="thiep_moi_thanh_hon" style="border-collapse: collapse; width: 100%;" border="1">
    <tbody>
    <tr>
    <td style="width: 45%; text-align: center;">
      <p>Nhà trai</p>
      <p>Nguyễn Văn Bình</p>
      <p>Cao Thị Hồng</p>
    </td>
    <td style="width: 10%; text-align: center;font-size: 60px;">💕</td>
    <td style="width: 45%; text-align: center;">
      <p>Nhà gái</p>
      <p>Lưu Hữu Minh</p>
      <p>Lê Thị Minh Phụng</p>
    </td>
    </tr>
    </tbody>
  </table>

</div>

<!-- Chèn khoảng trống -->
<div class="spacer"><br /></div>
<!-- Chèn khoảng trống -->
<div class="spacer"><br /></div>

<div class="thiep_moi">
  <div class="post-img-post">
    <img src="/img/Wedding/Nhan_cuoi.JPG"><br>
  </div>
  <h2 style="text-align: center;">Trân trọng kính mời!</h2>
  <p style="text-align: center;">
    TỚI DỰ BỮA TRƯA THÂN MẬT<br />CÙNG GIA ĐÌNH CHÚNG TÔI<br />
    VÀO LÚC 11H30 Chủ Nhật<br />
    12/02/2023<br />
    Nhằm ngày 22 tháng 1 năm Quý Mão<br />
    <br />
    TẠI Nhà hàng Bá Hùng.<br />
    Địa chỉ: 126A Nguyễn Tất Thành, Phước Nguyễn, Bà Rịa, Bà Rịa - Vũng Tàu</p>
</div>


<!-- site body (untouched)-->
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <!-- Tiêu đề bài đăng -->
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">{{ post.title }}</h2>

      <!-- {% if post.subtitle %}
      <div class="post-subtitle">
        {{ post.subtitle }}
      </div>
      {% endif %} -->
    </a>
    <!-- Ngày tháng bài đăng -->
    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
    <!-- Tóm tắt bài đăng -->
    <div class="post-entry-container">
      <!-- Kiểm tra bài đăng có kèm hình nhỏ hay không -->
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}

      <!-- Tóm tắt ngắn nội dung -->
      <div class="post-entry">
        <p style="text-align: justify;">
          {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
          {% assign excerpt_word_count = post.excerpt | number_of_words %}
          {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
        </p>
        <!-- <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">📜Đọc&nbsp;tiếp ...</a> -->
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
      {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 0 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}