<!-- Search -->
<div class="search-page">
  <!-- Data header  -->
  <div class="text-center">
    <div class="waviy">
      <h2>
      <br>
      <span style="--i:1">S</span>
      <span style="--i:2">e</span>
      <span style="--i:3">a</span>
      <span style="--i:4">r</span>
      <span style="--i:5">c</span>
      <span style="--i:6">h</span>
      <span style="--i:7">.</span>
      <span style="--i:8">.</span>
      <span style="--i:9">.</span>
      </h2>
    </div>
  </div>
  <!-- Nút tìm kiếm  -->
  <div class="search-icon-close-container">
    <span class="search-icon-close">
      <i class="fa fa-chevron-down"></i>
    </span>
  </div>
  <!-- Input text  -->
  <div class="search-main container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <form></form>
        <input type="text" id="search-input" placeholder="$ find ./ | grep -i '<content>'">
        </form>
        <div id="search-results" class="mini-post-list"></div>
      </div>
    </div>
  </div>
</div>