---
common-css:
- "/dist/css/bootstrap.min.css"
- "/dist/css/bootstrap-social.css"
- "/dist/css/main.css"
- "/dist/css/text_animation_css.css"
- "/dist/css/prism.css"
common-ext-css:
- "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
common-googlefonts:
- "Lora:400,700,400italic,700italic"
- "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-js:
- "/dist/js/jquery-3.5.1.js"
- "/dist/js/bootstrap.min.js"
- "/dist/js/main.js"
- "/dist/js/prism.js"
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

  {% include gtm_body.html %}

  {% include nav.html %}

  {% include search.html %}

  {{ content }}

  {% include footer.html %}

  {% include footer-scripts.html %}

</body>

</html>