---
layout: base
---
<link rel="stylesheet" href="/css/main-bio.css">
<!-- <link rel="stylesheet" href="/books/css/books_component.css"> -->
<!-- <link rel="stylesheet" href="/books/css/book_style.css"> -->
<!-- particles.js exclusion -->
<!-- Thêm vào chạy lag [enable display: block;] -->
<style>
  #particles-js{
      display: none;
  }
</style>
{% include header.html type="page" %}

<div role="main">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
      <div class="zalo-chat-widget" data-oaid="4264208368346011802" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="" data-height=""></div>
      <script src="https://sp.zalo.me/plugins/sdk.js"></script>
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
